@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
 *{ 
Margin:0;
Padding:0;
Box-sizing: border-box;
Font-family: 'poppins',sans-serif;
transition: all 0.2s ease-out;
}
p{
    font-family: 'Roboto' ;
}

html,body{
Width:100%;
Height:100%;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size:1.75rem;
}
p{
    font-size: 1.25rem;
    Font-family: 'popins',sans-serif;
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
button{
    cursor: pointer;
    box-shadow: 0 0 3px #183b56;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}
#hero-text{
color: #183b56;
}
.para-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color:#577592;
    line-height: 1.8rem;

}
.top-banner{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:#4fb3d4;
    background-image: url(IMAGES/asset\ 30.webp);
    background-size: 300px;
    font-size: 16px;
    font-weight: 900;
    color: white;
    text-align: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
#logo{
    height: 40px;
    
}
ul{
    list-style: none;
    
}
ul#nav-opt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 35px;
    align-items: center;
    font-size: 1em;
    font-weight: 500;

}
.menu{
    display: none;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 30px 0px 30px 0px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    gap: 16px;
}
#heroimg{
    height: 45vh;
    width: 53vw;
}
#hero-but{
    align-self:start;
    padding:12px 24px 12px 24px ;
    color: white;
    background-color: #2294ed;
    font-size: larger;
    font-weight: 800;
    border-radius: 8px;
    border: #2294ed;
}
#hero-but:hover,#signup:hover,.featbut:hover{
    background-color:#183b56;
    transform: scale(1.05);

}
#signup{
    color: white;
    background-color: #2294ed;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 8px;
    padding: 12px 24px 12px 24px ;
    border: #2294ed;
}
#signin{
    color: #183b56;
    background-color: white;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 8px;
    padding: 12px 24px 12px 24px ;
    border: 0.5px solid rgb(42, 42, 42);
}
.companies{
    padding: 30px 0px 30px 0px;
    width:100%;
    
}
p.comp{
    color: #183b56;
    font-weight: 900;
    font-size: small;
    text-align: center;
    font-size: 1rem;

}
#compimg{
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
#compimg img{
    height: 46px;
}
.feattxt{
    text-align: center;
    line-height: 5rem;
}
.featbut{
    background-color: white;
    color: #183b56;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 8px;
    padding: 12px 24px 12px 24px ;
    border: 0.5px solid #183b56;
}
#signin:hover,.featbut:hover{
    color: #2294ed;
    border: 0.5px solid #2294ed;
    transform: scale(1.02);
}
.features{
    background-image:url(IMAGES/asset\ 32.webp);
    background-position: center;
    background-repeat: no-repeat;
}
.featimg{
    padding: 50px 10px 60px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 342px;
    height: 283px;
    text-align: center;
    gap: 13px;
}
.bigf{
   margin: 50px 20px 0px;
   padding: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 60px;
}
#feat-des{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
 
}
#feat-des h3{
    font-size: 3rem;
    color: #2294ed;
}
#feat-des h4{
    font-size: 1.6rem;
}
.bigf img{
    width: 100%;
}
.end{
    text-align: center;
    line-height: 4em;
    margin: 20px;
}
.test{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 20px;
    flex-wrap: wrap;
}
a.card2{
    display: block;
  height: 300px;
  width: 270px;
  border-radius: 8px;
}
a.card2:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 9px #183b56;
    backdrop-filter: blur(3);
    box-sizing: border-box;
}
#lnk1{
    background-image:url(IMAGES/asset\ 34.webp);
    padding: 15px;
    color: white;
    background-size: cover;
    background-color: #222;
    background-blend-mode: soft-light;
    
}
#lnk2{
    background-image: url(IMAGES/asset\ 35.webp);
    padding: 15px;
    color: white;
    background-size: cover;
    background-color: #222;
    background-blend-mode: soft-light;
}
#lnk3{
    background-image: url(IMAGES/asset\ 36.webp);
    padding: 15px;
    color: white;
    background-size: cover;
    background-color: #222;
    background-blend-mode: soft-light;
}
#lnk4{
    background-image: url(IMAGES/asset\ 34.webp);
    padding: 15px;
    color: white;
    background-size: cover;
    background-color: #222;
    background-blend-mode: soft-light;

}
footer{
    width: 100%;
    box-sizing: border-box;
}
.start{
    background-color: #183b56;
    padding: 90px;
    margin: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    align-items: center;
    color: white;
}
.hero-but{

    padding:12px 24px 12px 24px ;
    color: white;
    background-color: #2294ed;
    font-size: larger;
    font-weight: 800;
    border-radius: 8px;
    border: #2294ed;
}
.hero-but:hover{
    transform: scale(1.02);
}
.start2{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 55px;
}
.logo{
    height: 46px;
}
.links ul,.links{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}
#foothead{
    color: #183b56;
    font: 1em;
    font-weight: 800;
}
.start3{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px;
    background-color: #b9cde4;

}
.links a,.start3 a{
    color: #2f4356;
    font: 1em;
}
a:hover{
  color: #2294ed;
}

/* MEDIA QUERIES */

@media screen and (max-width:991px){
    #nav-opt li{
        display: none;
    }
    #nav-opt .menu{
        display: block;
        font-size: 1.5rem;
        font-weight: 1.2rem;
        padding-inline: 30px;
    }
    .test{
        gap: 20px;
        padding: 20px;
    }
    a.card2{
        width:calc(50% - 10px);
    }
    .start{
        padding-block: 40px;
    }
    .start-but{
        padding-inline: 180px;
    }
    .start2{
        padding-block: 20px;
        flex-direction: column;
        gap: 39px;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .hero{
        padding-inline: 35px;
    }
}

@media screen and (max-width:767px){
    .hero{
        flex-direction: column-reverse;
        gap: 30px;
    }
    #heroimg{
        width: 100%;
        height:100%;
    }
    .text{
        width: 100%;
        text-align: center;
    }
    #hero-but{
        align-self: center;
        width: 80vw;
        text-align: center;
    }
    .bigf{
        flex-direction: column;

    }
    .diff{
        flex-direction: column-reverse;
    }
    #feat-des h3{
        font-size: 3rem;
        color: #2294ed;
    }
    #feat-des h4{
        font-size: 2rem;
    }
    #feat-des p{
        font-size: 1.5rem;
    }
    .card2 h3{
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

}

@media screen and (max-width:479px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size:1.25rem;
    }
    p.comp{
        padding: 15px;
    }
    .feattxt h2{
        padding-inline: 15px;
        line-height: 3rem;
        
    }
    .para-text{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color:#577592;
        line-height: 1.7rem;
    
    }
    #lnk1,#lnk2,#lnk3,#lnk4{
        height: 24vh;
        width: 100%;
        text-align: center;
    }
    .card2 h3{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .start{
        text-align: center;
    }
    .container{
        width: 100vw;
    }
    .start-but{
        padding-inline: 80px;
    }
    .bigf{
        margin: 20px 20px 5px 5px;
        padding: 10px;
        gap: 30px;
     }
     #feat-des h3{
        font-size: 2rem;
        color: #2294ed;
    }
    #feat-des h4{
        font-size: 1.3rem;
    }
    #feat-des p{
        font-size: 1rem;
    }
    #hero-text{
        line-height: 1.9rem;
        padding-bottom: 10px;
    }
    .start3{
        padding-block: 40px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

}